# User
PUID=1000
PGID=1000

HTTP_PORT=80
HTTPS_PORT=443
MYSQL_PORT=3306
MAIL_PORT=587

VOLUME_ROOT=/var/lib/snipeit/volumes

MYSQL_CONTAINER_NAME=snipeit_mysql
SNIPEIT_CONTAINER_NAME=snipeit

# Mysql Parameters
MYSQL_PORT_3306_TCP_ADDR=${MYSQL_CONTAINER_NAME}
MYSQL_PORT_3306_TCP_PORT=${MYSQL_PORT}
MYSQL_ROOT_PASSWORD=YOUR_SUPER_SECRET_PASSWORD
MYSQL_DATABASE=snipeit
MYSQL_USER=snipeit
MYSQL_PASSWORD=YOUR_snipeit_USER_PASSWORD

# Email Parameters
# - the hostname/IP address of your mailserver
MAIL_PORT_587_TCP_ADDR=smtp.whatever.com
# the port for the mailserver (probably 587, could be another)
MAIL_PORT_587_TCP_PORT=${MAIL_PORT}
# the default from address, and from name for emails
MAIL_ENV_FROM_ADDR=youremail@yourdomain.com
MAIL_ENV_FROM_NAME=Your Full Email Name
# - pick 'tls' for SMTP-over-SSL, 'tcp' for unencrypted
MAIL_ENV_ENCRYPTION=tcp
# SMTP username and password
MAIL_ENV_USERNAME=your_email_username
MAIL_ENV_PASSWORD=your_email_password

# Snipe-IT Settings
APP_ENV=production
APP_DEBUG=false
APP_KEY=<<YOUR_APP_KEY>> # run docker run --rm snipe/snipe-it
APP_URL=<<YOUR_FQDN>>
NGINX_APP_URL=${APP_URL}
APP_TIMEZONE=Europe/Madrid
TZ=${APP_TIMEZONE}
APP_LOCALE=en

# Docker-specific variables
PHP_UPLOAD_LIMIT=100
