[Unit]
Description=Run backup.service daily at 5AM

[Timer]
OnCalendar=daily
Persistent=true
WakeSystem=true
Unit=backup.service

[Install]
WantedBy=timers.target
